body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.password-container{
    background-color:beige ;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    margin: 10px ;
}

.input-container{
    border: solid 2px black ;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px ;
    letter-spacing: 2px;
    ;
}