body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.password-container{
    background-color:beige ;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    margin: 10px ;
}

.input-container{
    border: solid 2px black ;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px ;
    letter-spacing: 2px;
    ;
}

.input::placeholder{
    letter-spacing: 0px;
}

.fa-copy{
    cursor: pointer;
    opacity: .3;
}

.fa-copy:hover{
    opacity: .9;
}

.btn{
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: cadetblue;
}

.btn:active{
    transform: scale(0.95);
}

.alert-container{
    position: fixed;
    width: 300px ;
    height: 50px;
    background-color: forestgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    font-size: 20px;

}

.active.alert-container{
    right: -300px;
}